body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 22%;
    justify-content: space-between;
}

h2 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}

.nav-button {
    background-color: #e7ebee;
    color: rgb(13, 247, 32);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.nav-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
